<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label th:for="*{username}">User Name</label>
        <input class="form-control" th:field="*{username}" />
        <span class="error" th:errors="*{username}"></span>
    </div>
    <div class="form-group">
        <label th:for="*{email}">Email</label>
        <input class="form-control" type="email" th:field="*{email}" />
        <span class="error" th:errors="*{email}"></span>
    </div>
    <div class="form-group">
        <label th:for="*{password}">Password</label>
        <input class="form-control" type="password" th:field="*{password}" />
        <span class="error" th:errors="*{password}"></span>
    </div>
    <!--only used to verify password, not used in thyme leaf-->
    <div class="form-group">
        <label for="verify-password-field">Verify Password</label>
        <input class="form-control" id="verify-password-field" type="password" name="verify-password" />
        <span class="error" th:text="*{verifyError}"></span>
    </div>

    <input type="submit" value="Add User" />
</form>

</body>
</html>